body{
    /* display:grid;
    place-items: center; */
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(73, 136, 165);
}


.parent{
    background-color:rgba(255, 255, 255, 0.7);
    display:grid;
    place-items: center;
    margin:0px auto;
    height: 400px;
    width: 90%;
    margin-top: 10%;
}

nav{
    background-color: rgb(240, 240, 240);
}

nav > li{
    margin-left:20px;
    font-size: 20px;
}


#search { 
    font-size: 15pt; 
    height: 41px; 
    width : 550px; 
}


.suggestion-wrap{
    font-size: 0.9em;
    display: inline-block;
}

.suggestion-wrap > a{
    text-decoration: none;
    color: rgb(73, 136, 165);
}


.box{
    display: grid;
    place-items: center;
    width: 70%;
    height:70%;
}

.button{
    margin: 0 auto;
    width: 90%;
    border-radius: 10;
}


legend {
    box-sizing: border-box;
    color: inherit;
    max-width: 100%;
    font-size: 1.9rem;
    padding: 0;
}

