{% extends "apidict/base.html" %}
{% load crispy_forms_tags %}
{% block content%} 
<div class="content-section">
        <form action="{% url 'results' %}" method="POST" class="form-group">
            {% csrf_token %}
            <h1 class="border-bottom mb-4 bold text-center">Word Search</h1>
            {{ form|crispy }}
            <div class="form-group text-center">
                <button class="btn btn-success btn-sm" type="submit"> Search</button>
            </div>
            <br>
            <div class="text-center">
                <a href="#">Todays Word</a>
                <a href="#">Random</a>
            </div>
        </form>
</div>
{% endblock %} 
